package ${packageName}.domain;

import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.alibaba.excel.annotation.ExcelIgnoreUnannotated;
import com.alibaba.excel.annotation.ExcelProperty;
import com.fasterxml.jackson.annotation.JsonFormat;
import org.springframework.format.annotation.DateTimeFormat;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
#foreach ($import in $importList)
import ${import};
#end
#if($table.crud)
import com.jcm.common.core.domain.BaseEntity;
#elseif($table.tree)
import com.junchenmo.common.core.web.domain.TreeEntity;
#end

/**
 * ${businessName}对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */

@Data
@NoArgsConstructor
@AllArgsConstructor
@ExcelIgnoreUnannotated
@TableName("${tableName}")
    #if($table.crud)
        #set($Entity="BaseEntity")
    #elseif($table.tree)
        #set($Entity="TreeEntity")
    #end
public class ${ClassName} extends ${Entity}
        {
private static final long serialVersionUID=1L;

#foreach ($column in $columns)
    #if(!$table.isSuperColumn($column.javaField))
    /** $column.columnComment */
        #if($column.list)
            #set($comment=$column.columnComment)
            #if($column.javaType == 'Date')
            @JsonFormat(pattern = "yyyy-MM-dd")
            @DateTimeFormat(pattern = "yyyy-MM-dd")
            @ExcelProperty(value = "${comment}")
            #else
            @ExcelProperty(value = "${comment}")
            #end
        #end
        #if($column.javaField == $pkColumn.javaField)
        @TableId(type = IdType.AUTO)
        @ExcelProperty(value = "${comment}")
        #end
    private $column.javaType $column.javaField;

    #end
#end

}
