<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcm.system.mapper.SysDictTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jcm.system.domain.SysDictType">
        <id column="dict_type_id" property="dictTypeId" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="type" property="type" />
        <result column="extra_schema" property="extraSchema" />
        <result column="status" property="status" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <select id="selectDictTypeAndExtraAllList" resultMap="BaseResultMap">
        SELECT
           *
        FROM
            sys_dict_type dt
        WHERE
            dt.deleted = 0
          AND dt.`status` =0
    </select>

    <delete id="deleteByIds">
        DELETE FROM sys_dict_type WHERE
        dict_type_id IN
        <foreach collection="dictTypeIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
</mapper>
