<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcm.system.mapper.SysDictDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jcm.system.domain.SysDictData">
        <id column="dict_data_id" property="dictDataId" />
        <result column="dict_type_id" property="dictTypeId" />
        <result column="name" property="name" />
        <result column="value" property="value" />
        <result column="extra" property="extra" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
        <result column="description" property="description" />
        <result column="remark" property="remark" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>


    <select id="selectListByCondition" resultMap="BaseResultMap">
        SELECT CONCAT(t.NAME, ' - ', t.description) AS NAME, d.*
        FROM sys_dict_data d
                 LEFT JOIN sys_dict_type t ON d.dict_type_id = t.dict_type_id
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="name != null">
                AND  NAME LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="value != null">
                AND d.`value` LIKE CONCAT('%', #{value}, '%')
            </if>
            <if test="description != null">
                AND d.description LIKE CONCAT('%', #{description}, '%')
            </if>
            <if test="extra != null">
                AND d.extra LIKE CONCAT('%', #{extra}, '%')
            </if>
            AND t.deleted =0 AND d.deleted = 0
        </trim>
    </select>

    <select id="getInfoList" resultMap="BaseResultMap">
        SELECT
        t.NAME,
        d.EXTRA,
        d.VALUE,
        d.DESCRIPTION
        FROM
        sys_dict_type t
        LEFT JOIN sys_dict_data d ON t.dict_type_id = d.dict_type_id
        <where>
            <if test="list!= null">
                t.NAME IN
                <foreach item="item" index="index" collection="list" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            AND t.DELETED = 0
            AND d.DELETED = 0
        </where>
    </select>

    <delete id="deleteByDictTypeIds">
        DELETE FROM sys_dict_data WHERE
        dict_type_id IN
        <foreach collection="dictTypeIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteByIds">
        DELETE FROM sys_dict_data WHERE
        dict_data_id IN
        <foreach collection="dictDataIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
</mapper>
