<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcm.system.mapper.SysDictTypeExtraMapper">

    <insert id="batchDictTypeExtra">
        insert into sys_dict_type_extra(dict_type_id, type, parameter) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.dictTypeId},#{item.type},#{item.parameter})
        </foreach>
    </insert>


</mapper>
