<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcm.system.mapper.SysUserSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="SysUserSetting">
        <id column="setting_id" property="settingId" />
        <result column="user_id" property="userId" />
        <result column="theme" property="theme" />
        <result column="theme_color" property="themeColor" />
        <result column="navigation_bar" property="navigationBar" />
        <result column="tabs" property="tabs" />
        <result column="tabs_icon" property="tabsIcon" />
        <result column="breadcrumb" property="breadcrumb" />
        <result column="menu" property="menu" />
        <result column="top_menu" property="topMenu" />
        <result column="copyright" property="copyright" />
        <result column="watermark" property="watermark" />
        <result column="weak_color" property="weakColor" />
        <result column="grayscale" property="grayscale" />
        <result column="blur" property="blur" />
        <result column="contrast" property="contrast" />
        <result column="hue_rotate" property="hueRotate" />
        <result column="saturate" property="saturate" />
        <result column="data_loading" property="dataLoading" />
        <result column="size" property="size" />
        <result column="remark" property="remark" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
