<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcm.system.mapper.TxVipMapper">

    <resultMap type="TxVip" id="TxVipResult">
        <result property="vipId"    column="vip_id"    />
        <result property="xyName"    column="xy_name"    />
        <result property="startingTime"    column="starting_time"    />
        <result property="stopingTime"    column="stoping_time"    />
        <result property="purchaseDays"    column="purchase_days"    />
        <result property="unitType"    column="unit_type"    />
        <result property="status"    column="status"    />
        <result property="loginMethod"    column="login_method"    />
        <result property="loginAccount"    column="login_account"    />
    </resultMap>

    <sql id="selectTxVipVo">
        select vip_id, xy_name, starting_time, stoping_time, purchase_days, unit_type, status, login_method, login_account from tx_vip
    </sql>

    <select id="selectTxVipList" parameterType="TxVip" resultMap="TxVipResult">
        <include refid="selectTxVipVo"/>
        <where>
            <if test="xyName != null  and xyName != ''"> and xy_name like concat('%', #{xyName}, '%')</if>
            <if test="startingTime != null "> and starting_time = #{startingTime}</if>
            <if test="stopingTime != null "> and stoping_time = #{stopingTime}</if>
            <if test="purchaseDays != null  and purchaseDays != ''"> and purchase_days = #{purchaseDays}</if>
            <if test="unitType != null  and unitType != ''"> and unit_type = #{unitType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="loginMethod != null  and loginMethod != ''"> and login_method = #{loginMethod}</if>
            <if test="loginAccount != null  and loginAccount != ''"> and login_account = #{loginAccount}</if>
        </where>
    </select>

</mapper>